@using PackerTracker.Models;

<h1>Stuff in your Backpack</h1>
@if (Model.Count == 0)
{
  <p>There are no items in the list.</p>
}
<ul>
  @foreach (Backpack backpack in Model)
  {
    <li><a href="/backpacks/@backpack.Id">@backpack.Thing</a></li>
    <!-- /@backpack.Id -->
  }
</ul>

<a href="/backpacks/new">Add a new item.</a>

<form action="backpacks/delete" method="get">
  <button type="submit" name="button">Clear All Items</button>
</form>

